.gw { fill: #BBBBBB; }
.gu { fill: #888888; }
.gt { fill: #444444; }
.gr { fill: #444444; }
.gq { fill: #eeeeee; }
.gy { fill: #888888; }
.gf { fill: #eeeeee; }
.ge { fill: #BBBBBB; }
.gb { fill: #111111; }
.ga { fill: #888888; }
.gn { fill: #888888; }
.gm { fill: #BBBBBB; }
.gl { fill: #888888; }
.gh { fill: #444444; }
.lb { fill: #444444; }
.lc { fill: #BBBBBB; }
.la { fill: #888888; }
.tt { fill: #444444; }
.tr { fill: #444444; }
.lk { fill: #444444; }
.lv { fill: #888888; }
.to { fill: #BBBBBB; }
.lt { fill: #888888; }
.lu { fill: #444444; }
.lr { fill: #888888; }
.ls { fill: #BBBBBB; }
.th { fill: #444444; }
.tg { fill: #888888; }
.td { fill: #eeeeee; }
.ly { fill: #888888; }
.do { fill: #888888; }
.dj { fill: #BBBBBB; }
.dk { fill: #444444; }
.de { fill: #111111; }
.ye { fill: #444444; }
.dz { fill: #888888; }
.uy { fill: #444444; }
.yu { fill: #888888; }
.yt { fill: #BBBBBB; }
.vu { fill: #BBBBBB; }
.qa { fill: #444444; }
.tm { fill: #BBBBBB; }
.eh { fill: #eeeeee; }
.ee { fill: #888888; }
.eg { fill: #444444; }
.za { fill: #111111; }
.ec { fill: #111111; }
.us { fill: #111111; }
.et { fill: #888888; }
.zw { fill: #444444; }
.es { fill: #111111; }
.er { fill: #BBBBBB; }
.ru { fill: #111111; }
.rw { fill: #888888; }
.rs { fill: #888888; }
.ro { fill: #444444; }
.bd { fill: #444444; }
.be { fill: #444444; }
.bf { fill: #888888; }
.bg { fill: #444444; }
.ba { fill: #888888; }
.bb { fill: #888888; }
.ps { fill: #111111; }
.jp { fill: #111111; }
.bn { fill: #888888; }
.bo { fill: #444444; }
.bh { fill: #444444; }
.bi { fill: #888888; }
.bj { fill: #888888; }
.bt { fill: #BBBBBB; }
.jm { fill: #444444; }
.jo { fill: #111111; }
.ws { fill: #BBBBBB; }
.br { fill: #444444; }
.bs { fill: #444444; }
.tz { fill: #444444; }
.by { fill: #888888; }
.bz { fill: #888888; }
.om { fill: #444444; }
.zm { fill: #888888; }
.ua { fill: #444444; }
.bw { fill: #888888; }
.mz { fill: #888888; }
.xk { fill: #888888; }
.ci { fill: #888888; }
.ch { fill: #444444; }
.co { fill: #111111; }
.cn { fill: #111111; }
.cm { fill: #888888; }
.cl { fill: #111111; }
.ca { fill: #111111; }
.cg { fill: #BBBBBB; }
.cf { fill: #eeeeee; }
.cd { fill: #444444; }
.cz { fill: #444444; }
.cy { fill: #888888; }
.cr { fill: #444444; }
.cv { fill: #888888; }
.cu { fill: #444444; }
.tn { fill: #888888; }
.pt { fill: #111111; }
.py { fill: #444444; }
.tl { fill: #111111; }
.pa { fill: #444444; }
.pf { fill: #eeeeee; }
.pg { fill: #BBBBBB; }
.pe { fill: #444444; }
.pk { fill: #111111; }
.ph { fill: #444444; }
.pl { fill: #444444; }
.hr { fill: #888888; }
.ht { fill: #444444; }
.it { fill: #111111; }
.hk { fill: #111111; }
.hn { fill: #444444; }
.vn { fill: #111111; }
.md { fill: #888888; }
.mg { fill: #888888; }
.ma { fill: #888888; }
.uz { fill: #888888; }
.mm { fill: #888888; }
.ml { fill: #444444; }
.mo { fill: #888888; }
.mn { fill: #888888; }
.mk { fill: #888888; }
.mu { fill: #888888; }
.mt { fill: #444444; }
.mw { fill: #888888; }
.mv { fill: #BBBBBB; }
.mr { fill: #888888; }
.ug { fill: #444444; }
.my { fill: #444444; }
.mx { fill: #111111; }
.il { fill: #111111; }
.vc { fill: #eeeeee; }
.ae { fill: #444444; }
.ve { fill: #111111; }
.af { fill: #111111; }
.iq { fill: #111111; }
.is { fill: #888888; }
.ir { fill: #444444; }
.am { fill: #888888; }
.al { fill: #888888; }
.ao { fill: #444444; }
.an { fill: #eeeeee; }
.ar { fill: #111111; }
.au { fill: #111111; }
.at { fill: #444444; }
.in { fill: #111111; }
.az { fill: #888888; }
.ie { fill: #111111; }
.id { fill: #111111; }
.ni { fill: #444444; }
.nl { fill: #444444; }
.no { fill: #444444; }
.na { fill: #888888; }
.nc { fill: #eeeeee; }
.ne { fill: #444444; }
.ng { fill: #444444; }
.nz { fill: #111111; }
.np { fill: #888888; }
.so { fill: #444444; }
.fr { fill: #111111; }
.sb { fill: #BBBBBB; }
.fi { fill: #444444; }
.fj { fill: #888888; }
.hu { fill: #444444; }
.fm { fill: #BBBBBB; }
.tj { fill: #BBBBBB; }
.sz { fill: #888888; }
.sy { fill: #444444; }
.kg { fill: #888888; }
.ke { fill: #444444; }
.ss { fill: #444444; }
.sr { fill: #BBBBBB; }
.kh { fill: #888888; }
.sv { fill: #444444; }
.km { fill: #eeeeee; }
.st { fill: #BBBBBB; }
.sk { fill: #888888; }
.kr { fill: #444444; }
.si { fill: #888888; }
.kp { fill: #444444; }
.kw { fill: #444444; }
.sn { fill: #888888; }
.sl { fill: #888888; }
.kz { fill: #444444; }
.sa { fill: #444444; }
.sg { fill: #444444; }
.se { fill: #444444; }
.sd { fill: #444444; }
